  <div class="row">
    <div class="col-lg-3 bg-warning">
      <p><%= link_to 'All users' %></p>
      <p><%= link_to 'My profile' %></p>
    </div>
    <div class="col-lg-6 bg-info">
      <h1> Thoughts </h1>
      
    </div>
    <div class="col-lg-3 bg-danger">
    <p>fergf</p>
    </div>
  </div>
</div>