<% @users.each do |user| %>
  <div class="row">
    <div class="col-lg-1">
      <%= avatar_for(user)%>
    </div>
    <div class="col-lg-11">
      <p><%= user.fullname %></p>
    </div>
  </div>

<% end %>