<div class="container navbuttons">
<p><i class="fa fa-home fa-fw w3-text-theme"></i><%= link_to 'Home', home_path %></p>
<p><i class="fa fa-pencil fa-fw w3-text-theme"></i><%= link_to 'My profile', current_user %></p>
<p><i class="fa fa-sign-out fa-fw w3-text-theme" aria-hidden="true"></i><%= link_to 'Logout', logout_path, method: :delete%></p>
</div>