<div class="container navbuttons">
<p><%= link_to 'Home', home_path %></p>
<p><%= link_to 'My profile', current_user %></p>
<% if logged_in? %>
  <p><%= link_to 'Logout', logout_path, method: :delete%></p>
<% else%>
  <p><%= link_to 'Login', login_path %></p>
<% end %>
</div>