<% if @followers.any? %>
  <% @followers.each do |follower| %>
  <div class="con">
  <div class="ava w3-circle">
  <% if follower.photo? %>
    <%= avatar_for(follower) %>
  <% else %>
  <%= image_tag("https://image.flaticon.com/icons/svg/1/1247.svg") %>
  <% end %>
  </div>
  <div class="namez">
    <%=link_to follower.fullname, follower %>
  </div>
</div>
  <% end %>
<% else %>
  <p>No followers yet!</p>
<% end %>

