<%= form_with(model: @thought, local: true) do |f| %>
  <div class="field">
    <%= f.text_area :text, placeholder: "Compose new thought...", class: "form-control"%>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>