// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.stat {
  border: solid 1px rgb(97, 93, 93);
  padding: 5px;
}

.statis {
  margin-top: 20px;
}

#follow_form {
  margin: 10px;
}